 <div class="row">
   <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 align = "center"><b><i>Update Profile</i></b> </h3>
      </div>
      <br>

      <%= form_for @employee, :url => employee_path, method: :put, :html => {:class => "form-horizontal center"} do |f| %>
        <div class="row">
          <div class="col-sm-6 mb-3 mb-md-0">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 align = "center"><b><i>Personal Details</i></b> </h3>
               </div>
                  <div class="panel-body">
                    

                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Name, class: "col-md-0 control-label"%><br>
                      <%= f.text_field :name, class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Phone, class: "col-md-0 control-label"%><br>
                      <%= f.text_field :phone, class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Role, class: "col-md-0 control-label" %><br>
                      <b> <%= @employee.role.name %></b>
                      </div>
                    </div>
   
                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Designation,class: "col-md-0 control-label" %><br>
                      <b><%= @employee.designation.name %></b>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Email, class: "col-md-0 control-label"%><br>
                      <%= f.text_field :email, class: "form-control" %>
                      </div>
                    </div>
    
                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="field">
                          <%= f.label :password, class: "col-md-0 control-label"%>
                          <% if @minimum_password_length %>
                          <%= @employee.password.inspect %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %><br />
                          <%= f.password_field :password, autocomplete: "new-password", class: "form-control"  %>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="field">
                          <%= f.label :password_confirmation, class: "col-md-0 control-label" %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Address..   -->
              <div class="col-sm-6">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 align = "left"><b><i>Add Address Details</i></b></h3>
                  </div>
                  <div class="panel-body">
                  <%= f.fields_for :address do |f| %>

                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :House_No, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :house_no, :required => true, class: "form-control" %>
                    </div>
                  </div>
 
                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :Street, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :street, :required => true, class: "form-control"%>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :Local_address, class: "col-sm-0 control-label" %><br>
                    <%= f.text_field :local_address, :required => true, class: "form-control" %>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :Permanent_address, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :permanent_address, :required => true, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :City, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :city, :required => true, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :State, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :state, :required => true, class: "form-control"  %>
                    </div>
                  </div>

                  <div class="form-group">
                     <div class="col-md-12">
                    <%= f.label :Pincode, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :pincode, class: "form-control"  %>
                    </div>
                  </div>
                  <% end %>  
                </div>
              </div>
            </div>
          </div>
          


    <!-- Bank Detail -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 ">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 align = "center"><b><i> Add Bank Details</i></b></h3>
          </div>
            <div class="panel-body">

            <%= f.fields_for :bank_detail do |f| %>
    
            <div class="form-group">
              <div class="col-md-12">
              <%= f.label :Account_No, class: "col-md-0 control-label" %><br>
              <%= f.text_field :account_no,  class: "form-control" %>
              </div>
            </div>

   
            <div class="form-group">
              <div class="col-md-12">
              <%= f.label :Bank_Name, class: "col-md-0 control-label" %><br>
              <%= f.text_field :bank_name, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
               <div class="col-md-12">
              <%= f.label :Branch_name, class: "col-md-0 control-label" %><br>
              <%= f.text_field :branch_name, :required => true, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
              <%= f.label :IFSC_Code, class: "col-md-0 control-label" %><br>
              <%= f.text_field :ifsc_code, :required => true, class: "form-control" %>
              </div>
            </div>
            <%end%>
        </div>
      </div>
    </div>
  </div>
  
 <!--  <h3>Add ProfessionalDetails</h3>
  <%#= f.fields_for :professional_detail  do |f| %>

    <p>
      <%#= f.label :Total_Experience %><br />
      <%#= f.text_field :total_experience %>
    </p>

    </div>
      <div id="imageSet" class ="imagesForm"> 
        <%#= f.fields_for :images do |f| %>
          <%#= f.label :Document %><br />
          <%#= f.file_field :name, multiple: true %>
        <%# end %>
       </div> 
      <a href="javascript:;" id="addNewImage">Add Multiple Documents</a> 
  <%#end%> -->
  
          <%= f.submit "Submit", class: "btn btn-primary btn-lg center-block" %>
        <%end%>
      </div>
    </div>
  </div>

<div class="footer">
  <marquee><p><b>Employee Managment System!...</b></p></marquee>
</div>
<!-- <script type="text/javascript">
$(document).ready(function(){
  $('#addNewImage').click(function(){
    $('div#imageSet').append('<div class ="imagesForm"><input type="text"class="input-large" placeholder="Caption"><input type="file" name="employee[professional_detail][images][name][]" multiple="multiple" class="input-large" placeholder="Caption">'+ '<button class="removeNewImage" type="button">remove</button></div>');
    });    
    $("div#imageSet").on('click', '.removeNewImage', function(){
    $(this).closest('.imagesForm').remove();
  });
});
</script>
 -->