<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 align = "center"><b><i>Update Profile</i></b> </h3>
      </div>
      <br>
      <%= form_for current_employee, :url => employee_path, :action => "update_password",  method: :put, :html => {:class => "form-horizontal center"} do |f| %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 align = "center"><b><i>Personal Details</i></b> </h3>
            </div>
            <div class="panel-body">       
                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Name, class: "col-md-0 control-label"%><br>
                      <%= f.text_field :name, class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Phone, class: "col-md-0 control-label"%><br>
                      <%= f.text_field :phone, class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Role, class: "col-md-0 control-label" %><br>
                      <b> <%= current_employee.role.name %></b>
                      </div>
                    </div>
   
                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Designation,class: "col-md-0 control-label" %><br>
                      <b><%= current_employee.designation.name %></b>
                      </div>
                    </div>

                     <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Lead,class: "col-md-0 control-label" %><br>
                      <b><%= employee_lead(current_employee.lead) %></b>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                      <%= f.label :Email, class: "col-md-0 control-label"%><br>
                      <%= f.text_field :email, class: "form-control" %>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="field">
                          <%= f.label :Current_Password, class: "col-md-0 control-label"%>
                          <% if @minimum_password_length %>
                          <%= current_employee.password.inspect %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %><br />
                          <%= f.password_field :current_password, autocomplete: "new-password", class: "form-control"  %>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="field">
                          <%= f.label :Password,  "Password",  class: "col-md-0 control-label" %><br />
                          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-md-12">
                        <div class="field">
                          <%= f.label :password_confirmation, class: "col-md-0 control-label" %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>

               <%= f.submit "Submit", class: "btn btn-primary btn-lg center-block" %>
            <%end%>

            <div class="panel panel-primary">
              <div class="panel-body">
                <div class="row">
                  <% if current_employee.address.present? %>
                    <div class="col-sm-6 mb-3 mb-md-0">
                      <h4><b><%= link_to('Edit Address Detail',  employee_address_path(current_employee)) %></b></h4>
                    </div>
                  <%else%>
                    <div class="col-sm-6 mb-3 mb-md-0">
                      <h4><b><%= link_to('Create Address Detail', new_employee_address_path(current_employee)) %></b></h4>
                    </div>
                  <%end%>

                  <% if current_employee.bank_detail.present?%>
                    <div class="col-sm-6">
                      <h4><b><%= link_to('Edit Bank Detail',  employee_bank_detail_path(current_employee)) %></b></h4>
                    </div>
                  <% else %>
                    <div class="col-sm-6">
                      <h4><b><%= link_to('Create Bank Detail', new_employee_bank_detail_path(current_employee)) %></b></h4>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


 
