<h3>Enter the Details </h3>
  <%= form_for @employee, :url => employee_path, method: :put do |f| %>
    <p>
      <%= f.label :Name%><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :Phone%><br>
      <%= f.text_field :phone %>
    </p>

    <p>
      <%= f.label :Role %><br>
     <u> <%= @employee.role.name %></u>
    </p>
   
    <p>
      <%= f.label :Designation %><br>
     <u> <%= @employee.designation.name %></u>
    </p>

    <p>
      <%= f.label :Email%><br>
      <%= f.text_field :email %>
    </p>
    
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <%= @employee.password.inspect %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>


   <h3> Add Bank Details</h3>

  <%= f.fields_for :bank_detail do |f| %>

    <p>
      <%= f.label :Account_No %><br>
      <%= f.text_field :account_no %>
    </p>
   
    <p>
      <%= f.label :Bank_Name %><br>
      <%= f.text_field :bank_name %>
    </p>

    <p>
      <%= f.label :Branch_name %><br>
      <%= f.text_field :branch_name %>
    </p>

    <p>
      <%= f.label :IFSC_Code %><br>
      <%= f.text_field :ifsc_code %>
    </p>
    
  <%end%>

  <h3>Add Address Details</h3>

  <%= f.fields_for :address do |f| %>

    <p>
     <%= f.label :House_No %><br>
     <%= f.text_field :house_no %>
    </p>
 
    <p>
     <%= f.label :Street %><br>
     <%= f.text_field :street %>
    </p>

    <p>
      <%= f.label :Local_address %><br>
      <%= f.text_field :local_address %>
    </p>

    <p>
      <%= f.label :Permanent_address %><br>
      <%= f.text_field :permanent_address %>
    </p>

    <p>
      <%= f.label :City %><br>
      <%= f.text_field :city %>
    </p>

    <p>
      <%= f.label :State %><br>
      <%= f.text_field :state  %>
    </p>

    <p>
      <%= f.label :Pincode %><br>
      <%= f.text_field :pincode %>
    </p>
  <%end%>
  
 <!--  <h3>Add ProfessionalDetails</h3>
  <%= f.fields_for :professional_detail  do |f| %>

    <p>
      <%= f.label :Total_Experience %><br />
      <%= f.text_field :total_experience %>
    </p>

    </div>
      <div id="imageSet" class ="imagesForm"> 
        <%= f.fields_for :images do |f| %>
          <%= f.label :Document %><br />
          <%= f.file_field :name, multiple: true %>
        <% end %>
       </div> 
      <a href="javascript:;" id="addNewImage">Add Multiple Documents</a> 
  <%end%> -->
  <p>
    <%= f.submit %>
  </p>
<%end%>

<!-- <script type="text/javascript">
$(document).ready(function(){
  $('#addNewImage').click(function(){
    $('div#imageSet').append('<div class ="imagesForm"><input type="text"class="input-large" placeholder="Caption"><input type="file" name="employee[professional_detail][images][name][]" multiple="multiple" class="input-large" placeholder="Caption">'+ '<button class="removeNewImage" type="button">remove</button></div>');
    });    
    $("div#imageSet").on('click', '.removeNewImage', function(){
    $(this).closest('.imagesForm').remove();
  });
});
</script>
 -->