<div class="panel panel-primary" style="max-width: 80%";>
  <div class="panel-heading">
    <h3 align = "center"><b><i>Employee Details</i></b></h3>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Name </th>
      <th>Phone</th>
      <th>Role</th>
      <th>Designation</th>
      <th>Lead</th>
      <th>Email</th>
      <th>Show_All</th>
      <th>Delete_All</th>
    </tr>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.phone %></td>
        <td><%= employee_role(employee.role_id) %></td>
        <td><%= employee_designation(employee.designation_id) %></td>
        <td><%= employee_lead(employee.lead) %></td>
        <td><%= employee.email %></td>
        <td align = "center">
          <%= link_to employee_path(employee) do %>
          <span class="glyphicon glyphicon-eye-open"></span> 
          <% end %>
        </td>
        <td align = "center">
          <%= link_to employee_path(employee), 
                method: :delete,
                data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class="footer2">
  <marquee><p><b>Employee Managment System!...</b></p></marquee>
</div>