<h1>Listing Employee</h1>
 
<table class="table table-striped">
  <tr>
    <th>Name </th>
    <th>Phone</th>
    <th>Role</th>
    <th>Designation</th>
    <th>Lead</th>
    <th>Email</th>
    <th>Show_All</th>
    <th>Delete_All</th>
  </tr>
 
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.phone %></td>
      <td><%= employee_role(employee.role_id) %></td>
      <td><%= employee_designation(employee.designation_id) %></td>
      <td><%= employee.lead %></td>
      <td><%= employee.email %></td>
      <td><%= link_to 'Show', employee_path(employee) %></td>
      <td><%= link_to 'Destroy', employee_path(employee),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>