
<h3>Enter the Details </h3>

  <% @employee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  <%= form_for @employee, :url =>  employees_path, method: :post, remote: true do |form| %>
 
    <p>
      <%= form.label :Role %><br>
      <%= form.collection_select :role_id, Role.order(:name),:id,:name, include_blank: false %>
    </p>
   
    <p>
      <%= form.label :Designation %><br>
      <%= form.collection_select :designation_id, Designation.order(:name),:id,:name, include_blank: false %>
    </p>

    <p>
      <%= form.label :Email%><br>
      <%= form.email_field :email %>
    </p>
    
    <div class="field">
      <%= form.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= form.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %><br />
      <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <p>
      <%= form.label :Lead%><br>
      <%= form.collection_select :lead, Employee.order(:lead), :id, :lead, include_blank: true %>
    </p>
    
    <p>
      <%= form.submit %> 
    </p> 
  <%end%>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
