<h3>Create the Employee Credential</h3>

 <%= form_for @employee, :url =>  employees_path, method: :post do |form| %>
 
  <p>
    <%= form.label :Role %><br>
    <%= form.text_field :role %>
  </p>
 
  <p>
    <%= form.label :Designation %><br>
    <%= form.text_field :designation %>
  </p>

  <p>
    <%= form.label :Email%><br>
    <%= form.text_field :email %>
  </p>
  
  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end %>