<div class="panel panel-primary" style="max-width: 40%";>
  <div class="panel-heading" align="center">Show the Employee Detail</div>

  <p align="center">
    <strong>Name:</strong>
    <%= @employee.name %>
  </p>

  <p align="center">
    <strong>Phone:</strong>
    <%= @employee.phone %>
  </p>

  <p align="center">
    <strong>Role:</strong>
    <td><%= @employee.role.name %></td>
  </p>
 
  <p align="center">
    <strong>Email:</strong>
    <%= @employee.email %>
  </p>

  <p align="center">
    <strong>Designation:</strong>
    <td><%= @employee.designation.name %></td>
  </p>
</div>
<div class="footer">
  <marquee><p><b>Employee Managment System!...</b></p></marquee>
</div>