 <div class="row">
   <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 align = "center"><b><i>Update Profile</i></b> </h3>
      </div>
      <br>

         <%= form_for @address, :url => employee_address_path, method: :post do |f| %>
             
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 align = "left"><b><i>Add Address Details</i></b></h3>
                  </div>

                  <div class="panel-body">
                 

                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :House_No, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :house_no, :required => true, class: "form-control" %>
                    </div>
                  </div>
 
                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :Street, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :street, :required => true, class: "form-control"%>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :Local_address, class: "col-sm-0 control-label" %><br>
                    <%= f.text_field :local_address, :required => true, class: "form-control" %>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :Permanent_address, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :permanent_address, :required => true, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :City, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :city, :required => true, class: "form-control" %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-12">
                    <%= f.label :State, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :state, :required => true, class: "form-control"  %>
                    </div>
                  </div>

                  <div class="form-group">
                     <div class="col-md-12">
                    <%= f.label :Pincode, class: "col-md-0 control-label" %><br>
                    <%= f.text_field :pincode, class: "form-control"  %>
                    </div>
                  </div>

                </div>
              </div>
               <%= f.submit "Submit", class: "btn btn-primary btn-lg center-block" %>
            </div>
          <% end %>  
        </div>
      </div>
    </div>