<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 align="center"><b><i>Leave Details...</i></b></h3>
  </div>  
<table class="table table-striped">
  <tr>
    <th>TO </th>
    <th>FROM</th>
    <th>REASON</th>
    <th>CURR-STATUS</th>
    <th>LEAVE-DAYS</th>
    <th>WORK-AFFECT</th>
    <th>MOBILE</th>
    <th>EMAIL</th>
    <% if current_employee_role_is_admin %>
      <th>NAME</th>
      <th>ROLE</th>
      <th>STATUS</th>
      <th>SHOW</th>
      <th>DELETE</th>
    <% elsif current_employee_role_is_lead %>
      <th>NAME</th>
      <th>DESIGNATION</th>
      <th>STATUS</th> 
    <% end %>
    
  </tr> 
  <% @leavedetails.each do |leavedetail| %>
    <tr>
      <td><%= leavedetail.absent_to %></td>
      <td><%= leavedetail.absent_from %></td>
      <td><%= leavedetail.reason_of_leave %></td> 
      <td><%= leave_status_name(leavedetail.leave_status_id) %></td> 
      <td><%= leavedetail.leave_apply_for_days %></td> 
      <td><%= leavedetail.work_affect %></td>
      <td><%= leavedetail.avl_mobile %></td>
      <td><%= leavedetail.avl_email %></td>
      <% if current_employee_role_is_admin  %>
      <td><%= leavedetail.leavedetail_name%></td>
      <td><%= leavedetail.leavedetail_role%></td>
        <td>    
          <%= select_tag "current_status", options_from_collection_for_select( leave_status, 'id', 'name'), id: "#{leavedetail.id}" %>
        </td> 
        <%= hidden_field_tag 'leave_detail_id', leavedetail.id, id: "#{leavedetail.id}",class: "hello" %>
        <td><%= link_to 'Show', leave_detail_path(leavedetail) %></td>
        <td><%= link_to 'Destroy', leave_detail_path(leavedetail),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>

        <% elsif current_employee_role_is_lead  %>
           <td><%= leavedetail.leavedetail_name%></td>
          <td><%= leavedetail.leavedetail_designation%></td>
        <td>    
          <%= select_tag "current_status", options_from_collection_for_select( leave_status, 'id', 'name'), id: "#{leavedetail.id}" %>
        </td> 
        <%= hidden_field_tag 'leave_detail_id', leavedetail.id, id: "#{leavedetail.id}",class: "hello" %>
      <% end %>

    </tr>
  <% end %>
</table>
</div>
<script type="text/javascript">
  var array = [];
  var i;
  $('.hello').each(function(){
    array.push($(this).attr("id"));
  });
  for(i=0; i<array.length; i++)
  {
    $("#"+array[i]).on("click", function(){ 
      debugger
      var leave_detail_id = this.id
      var status_id =  $(this).val();
      $.ajax({
        type: "GET",
        contentType: 'json',
        url: "/leave_details/" + leave_detail_id + "/update_status/",
        data: {status_id: status_id },
        success: function(data) {
          location.reload();
        },
        error: function(data) {
          alert("error");
        }
      });
    });
  } 
</script>