<h1>Leave Detail</h1>
 
<table border = "1px">
  <tr>
    <th>TO </th>
    <th>FROM</th>
    <th>REASON</th>
    <th>SHOW</th>
    <th>DELETE</th>
  </tr>
 
  <% @leavedetails.each do |employee| %>
    <tr>
      <td><%= employee.absent_to %></td>
      <td><%= employee.absent_from %></td>
      <td><%= employee.reason_of_leave %></td>
      <td><%= link_to 'Show', leave_detail_path(employee) %></td>
      <td><%= link_to 'Destroy', leave_detail_path(employee),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>