<%= form_for @leavedetail, :url => leave_details_path, method: :post do |g| %>
 
 <div class="form-group">
  <p>
    <%= g.label :Leave_Type %><br>
    <%= g.collection_select :leave_type_id, LeaveType.order(:name),:id,:name, include_blank: false, :required => true %>
  </p>
</div>
  
<div class="form-group">  
  <p>
    <%= g.label :Leave_Applied_for_Days %><br>
    <%= g.text_field :leave_apply_for_days, :required => true%>
  </p>
</div>
<div class="form-group">
  <p>
    <%= g.label :Absence_Duration_To %><br>
    <%= g.date_field :absent_to %>
  </p>
</div>
<div class="form-group">
  <p>
    <%= g.label :Absence_Duration_From %><br>
    <%= g.date_field :absent_from %>
  </p>
</div>
<div class="form-group">
  <p>
    <%= g.label :Reson_Of_Leave %><br>
    <%= g.text_area :reason_of_leave, :required => true %>
  </p>
</div>
<div class="form-group">
  <p>
    <%= g.label :Work_Affect %><br>
    <%= g.text_field :work_affect, :required => true %>
  </p>
</div>
<div class="form-group">
  <p>
    <%= g.label :Availble_Mobile %><br>
    <%= g.text_field :avl_mobile, :required => true %>
  </p>
</div>
<div class="form-group">
  <p>
    <%= g.label :Available_Email %><br>
    <%= g.text_field :avl_email, :required => true%>
  </p>
</div>
  <%= g.hidden_field :leave_status_id, value: '2'%>

  <%= g.submit %>

<% end %>

<!-- <script type="text/javascript">
  $('#leave_detail_reason_of_leave').on("click", function(){ 
      debugger
      var from = $("#leave_detail_absent_from").val(); 
      var to = $("#leave_detail_absent_to").val(); 
      if(to > from){
          alert("Please Fill The Correct Date")
      }
    });
</script>
 -->
