<%= form_for @leavedetail, :url => leave_details_path, method: :post do |g| %>
 
 <% if @leavedetail.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@leavedetail.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @leavedetail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <p>
    <%= g.label :Leave_Type %><br>
    <%= g.collection_select :leave_type_id, LeaveType.order(:name),:id,:name, include_blank: false %>
  </p>
  <p>
    <%= g.label :Leave_Applied_for_Days %><br>
    <%= g.text_field :leave_apply_for_days%>
  </p>

  <p>
    <%= g.label :Absence_Duration_To %><br>
    <%= g.date_field :absent_to %>
  </p>

  <p>
    <%= g.label :Absence_Duration_From %><br>
    <%= g.date_field :absent_from %>
  </p>

  <p>
    <%= g.label :Reson_Of_Leave %><br>
    <%= g.text_area :reason_of_leave %>
  </p>

  <p>
    <%= g.label :Work_Affect %><br>
    <%= g.text_field :work_affect %>
  </p>

  <p>
    <%= g.label :Availble_Mobile %><br>
    <%= g.text_field :avl_mobile %>
  </p>

  <p>
    <%= g.label :Available_Email %><br>
    <%= g.text_field :avl_email%>
  </p>

  <!-- <p>
    <%#= g.label :Status %><br>
    <%#= g.collection_select :leave_status_id, LeaveStatus.order(:name),:id,:name, include_blank: true %>
  </p>  
   -->
  <%= g.hidden_field :leave_status_id, value: '2'%>

  <%= g.submit %>

<% end %>

