
<p>
  <strong>TO:</strong>
  <%= @leavedetail.absent_to %>
</p>
 
<p>
  <strong>FROM:</strong>
  <%= @leavedetail.absent_from %>
</p>

<p>
  <strong>RESON:</strong>
  <%= @leavedetail.reason_of_leave %>
</p>

<p>
  <strong>MOBILE:</strong>
  <%= @leavedetail.avl_mobile %>
</p>

<p>
  <strong>EMAIL:</strong>
  <%= @leavedetail.avl_email %>
</p>
