<div class="panel panel-primary" style="max-width: 40%";>
  <div class="panel-heading" align="center">Show Leave Detail of Employee</div>

  <p align="center">
    <strong>TO:</strong>
    <%= @leavedetail.absent_to %>
  </p>
 
  <p align="center">
    <strong>FROM:</strong>
    <%= @leavedetail.absent_from %>
  </p>

  <p align="center">
    <strong>RESON:</strong>
    <%= @leavedetail.reason_of_leave %>
  </p>

  <p align="center">
    <strong>MOBILE:</strong>
    <%= @leavedetail.avl_mobile %>
  </p>

  <p align="center">
    <strong>EMAIL:</strong>
    <%= @leavedetail.avl_email %>
  </p>
</div>
<div class="footer">
  <marquee><p><b>Employee Managment System!...</b></p></marquee>
</div>