<nav class="navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <div class ="link">
      <ul class="nav navbar-nav navbar-right">
        <% if employee_signed_in? %>
          <% if current_employee_role_is_admin %>
            <li><%= link_to('Show Leave', leave_details_path) %></li>
            <li><%= link_to('All Users', employees_path) %></li>
            <li><%= link_to('New_Employee', new_employee_path)%></li>
            <li><%= link_to('Home',root_path) %></li>
            <li><%= link_to "Sign out", destroy_employee_session_path, :method => :delete %></li>
          <% elsif %> 
            <li><%= link_to('Leave Staus',  leave_details_path(id: current_employee.id)) %></li>
            <li><%= link_to('Apply Leave',  new_leave_detail_path(id: current_employee.id)) %></li>
            <li><%= link_to('Edit Profile', edit_employee_path(id: current_employee.id)) %></li>
            <li><%= link_to('Home',root_path) %></li>
            <li><%= link_to "Sign out", destroy_employee_session_path, :method => :delete %></li>
          <% end %>
            <% else %>
          <li><%= link_to('Sign in', new_employee_session_path) %></li>
        <% end %> 
      </ul>
    </div>
  </div> 
</nav>  