<html>
  <head>
    <title>Employee</title>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%= render "layouts/header" %>    
    <% flash.each do |key, value| %>
      <div class="message">
        <div class="alert alert-success alert-dismissible <%= key %> fade in">
          <a class="close" href="#">&times</a>
          <center><strong><%= value %></strong></center>
       </div>
      </div>
    <% end %>  
    <%= yield %>
  </body>
</html>